## [Start] Setting "type" to default value of "Employee". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, "Employee")))
## [End] Setting "type" to default value of "Employee". **
{}